<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="RabbitMQClient:hostname" value="rmqqua.clayton.net" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="OracleERP:Username" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="OracleERP:Password" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="DeploymentEnvironment" value="QUA" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="StartInTestMode" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="OracleERP:IntegrationServiceEndpoint" value="https://ejmm-dev4.fa.us6.oraclecloud.com:443/fscmService/ErpIntegrationService" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="OracleERP:ScheduleServiceEndpoint" value="https://ejmm-dev4.fa.us6.oraclecloud.com/xmlpserver/services/v2/ScheduleService" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="OracleERP:GenericSoapServiceEndpoint" value="https://ejmm-dev4.fa.us6.oraclecloud.com/idcws/GenericSoapPort" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>