<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="DbConnectionProvider" type="CMH.CS.ERP.IntegrationHub.Interpol.ConsoleApp.DbConnectionProvider, CMH.CS.ERP.IntegrationHub.Interpol.ConsoleApp" />
    <alias alias="IDbConnectionProvider" type="CMH.CS.ERP.IntegrationHub.Interpol.IDbConnectionProvider, CMH.CS.ERP.IntegrationHub.Interpol" />
    <alias alias="IServiceRunner" type="CMH.CS.ERP.IntegrationHub.Interpol.ServiceHosting.IServiceRunner, CMH.CS.ERP.IntegrationHub.Interpol.ServiceHosting" />
    <alias alias="ServiceRunner" type="CMH.CS.ERP.IntegrationHub.Interpol.InterpolService, CMH.CS.ERP.IntegrationHub.Interpol" />
    <containers>
      <container name="serviceProvider">
        <register type="IDbConnectionProvider" mapTo="DbConnectionProvider">
          <constructor>
            <param name="awsRegion" value="us-east-1" />
            <param name="awsSecretName" value="nonprod_integrationhub_dev" />
          </constructor>
        </register>
        <register type="IServiceRunner" mapTo="ServiceRunner" />
      </container>
    </containers>
  </unity>
</configuration>