<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variabeles
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target xsi:type="File"
            name="file"
            fileName="${basedir}/Logs/CMH.CS.ERP.IntegrationHub.Interpol.ConsoleApp.log"
            archiveAboveSize="20000000"
            archiveFileName="${basedir}/Logs/CMH.CS.ERP.IntegrationHub.Interpol.ConsoleApp.Archive{##}-${shortdate}.log"
            maxArchiveFiles="31"
            archiveNumbering="Rolling"
            layout="${longdate}|[${threadid}]|${level:uppercase=true}|${logger:shortName=true}|${callsite:includeSourcePath=false:className=false}()|${message} ${exception:format=tostring}" />
    <target xsi:type="File"
            name="Tokens"
            fileName="${basedir}/Logs/CMH.CS.ERP.IntegrationHub.Interpol.ConsoleApp.Tokens.log"
            archiveAboveSize="20000000"
            archiveFileName="${basedir}/Logs/CMH.CS.ERP.IntegrationHub.Interpol.ConsoleApp.TokenArchive{##}-${shortdate}.log"
            maxArchiveFiles="31"
            archiveNumbering="Rolling"
            layout="{ TimeStamp=&quot;${longdate}&quot;, ${message}"/>
  </targets>

  <rules>
    <logger name="CallerTokensLogger" minlevel="Trace" writeTo="Tokens" final="true"/>
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>