<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="DbConnectionProvider" type="CMH.CS.ERP.IntegrationHub.Interpol.WinService.DbConnectionProvider, CMH.CS.ERP.IntegrationHub.Interpol.WinService" />
    <alias alias="IDbConnectionProvider" type="CMH.CS.ERP.IntegrationHub.Interpol.IDbConnectionProvider, CMH.CS.ERP.IntegrationHub.Interpol" />
    <alias alias="IServiceRunner" type="CMH.CS.ERP.IntegrationHub.Interpol.ServiceHosting.IServiceRunner, CMH.CS.ERP.IntegrationHub.Interpol.ServiceHosting" />
    <alias alias="ServiceRunner" type="CMH.CS.ERP.IntegrationHub.Interpol.InterpolService, CMH.CS.ERP.IntegrationHub.Interpol" />
    <alias alias="WindowsServiceRunner" type="CMH.CS.ERP.IntegrationHub.Interpol.WinService.WindowsServiceRunner, CMH.CS.ERP.IntegrationHub.Interpol.WinService" />
    <containers>
      <container name="serviceProvider">
        <register type="IDbConnectionProvider" mapTo="DbConnectionProvider">
          <constructor>
            <param name="connectionString" value="Server=.\CORP1;Database=IntegrationHub;Integrated Security=True;" />
          </constructor>
        </register>
        <register type="IServiceRunner" mapTo="ServiceRunner" />
        <register type="WindowsServiceRunner" />
      </container>
    </containers>
  </unity>
</configuration>