<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <containers>
      <container name="serviceProvider">
        <register type="IDbConnectionProvider" mapTo="DbConnectionProvider">
          <constructor>
            <param name="connectionString" value="Server=cmhsqlqua04\cmhcorp1;Database=IntegrationHub;Integrated Security=SSPI;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
          </constructor>
        </register>
      </container>
    </containers>
  </unity>
</configuration>