<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd">
  <targets>
    <target name="file"
            fileName="D:/IISlogFiles/Interpol/CMH.CS.ERP.IntegrationHub.Interpol.WinService.log"
            archiveFileName="D:/IISlogFiles/Interpol/CMH.CS.ERP.IntegrationHub.Interpol.WinService{##}-${shortdate}.log"
            archiveAboveSize="20000000"
            xdt:Locator="Match(name)"
            xdt:Transform="SetAttributes(fileName, archiveFileName)"/>
    <target name="Tokens"
            fileName="D:/IISlogFiles/Interpol/CMH.CS.ERP.IntegrationHub.Interpol.WinService.Tokens.log"
            archiveFileName="D:/IISlogFiles/Interpol/CMH.CS.ERP.IntegrationHub.Interpol.WinService.TokenArchive{##}-${shortdate}.log"
            archiveAboveSize="20000000"
            xdt:Locator="Match(name)"
            xdt:Transform="SetAttributes(fileName, archiveFileName)"/>
  </targets>
</nlog>